.App {
  text-align: center;
  background: linear-gradient(to right, #5f6fff, #fe867b);
}

header {
  padding: 5px;
  border-radius: 5px;
  color: white;
  font-size: 1.5rem;
}

header p {
  height: 10px;
  width: 300px;
  background-color: white;
  margin-left: 40%;
  border-radius: 20px;
}

.product-grid{
  padding-top: 50px;
  padding-bottom: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}
